body
{
	background-color: white;
	color:red;

}
#header-nav{
	background-color: yellow;
	border-radius: 0;
	border:0;
	width: 100%;
	height: 100px;
	padding: 15px;
	
}
.text-align{
	text-align: center;
}

h2{
	text-align: center;
	
	text-decoration: bold;
	color: green;
}
p{
	text-align: center;
}
*{
	box-sizing: border-box;
}
.first{
  float: left;
  padding: 15px;
background-color: pink;
  
  text-align: center;
  font-size: 14px;
   
}
.second{
  float: left;
  padding: 15px;
background-color: grey;
  
  text-align: center;
  font-size: 14px;
   
}
.third{
  float: left;
  padding: 15px;
background-color: pink;
  
  text-align: center;
  font-size: 14px;
   
}
[class*="col-"] {
  float: left;
  padding: 15px;

  /*padding: 15px;*/
  
  text-align: center;
  font-size: 14px;
   position: relative;
}
@media only screen and (min-width:200px)
{
	
}